<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
  </head>

  <body>
    <h1>Posts of the day</h1>
    <section>
      <%for (let post of posts) {%>
        <div>
          <a href="/posts/<%=post.id%>">
            <%=post.title%>
          </a> <b> by
            <%=post.user%>
          </b>
          <button><a style="text-decoration: none;" href="/posts/<%=post.id%>/edit">Edit post</a></button>
          <form style="display: inline;" method=POST action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete</button>
          </form>
        </div>
        <%}%>
    </section>
    <br>
    <a href="/posts/new">Add new post</a>
  </body>

</html>